html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
}

html {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color:transparent;
}

bullet {
margin-left:30px;
}

*{
  box-sizing:border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 1766px;
  height: 1177px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

board {
  background-image: url('../../images/board/Frame.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15.1px;
}

board.round-border {
  border-radius: 15.1px;
}

spirit-name {
  position: absolute;
  display: flex;
  align-items: center;
  left: 45px;
  top: 734px;
  height: 0px;
  width: 666.25px;
  font-size:40px;
  font-family: 'Name Headings';
  text-transform: uppercase;
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  vertical-align: middle;
  text-align: left;
  z-index: 1;
  white-space: normal;
}

artist-name {
    position: absolute;
    left: 22px;
    top: 1163px;
    height: 0px;
    width: 666.25px;
    font-size: 10px;
    font-family: 'Lato SemiBold';
    color: #d1c5a6;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    text-align: left;
    z-index: 1;
	display: none;
    white-space: normal;
}

custom-meeple {
    background-image: url(../../images/customIcons/Meeple.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: 1135px;
    left: 1725px;
    height: 20px;
    width: 20px;
    z-index: 4;
}

.spirit-border {
	position: absolute;
    left: 0px;
    top: -50px;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 705px 100%;
}

.spirit-image {
  position: absolute;
  left: 16.5px;
  top: 17.75px;
  width: 667.5px;
  height: calc(100% - (17.75px * 2));
  z-index: -1;
  background-repeat: no-repeat;
}

#single-line {
  padding-top: 12px;
  padding-bottom: 4px;
}

.note {
  font-family: 'JosefinSans-Regular';
  font-size: 18pt;
}


range {
  width: 50px;
  margin-top: -10px;
}

range-plus-1 { background-image: url('../../images/board/range_plus_1.png'); }
range-plus-2 { background-image: url('../../images/board/range_plus_2.png'); }
range-plus-3 { background-image: url('../../images/board/range_plus_3.png'); }
range-plus-4 { background-image: url('../../images/board/range_plus_4.png'); }

range-plus-1, range-plus-2, range-plus-3, range-plus-4 {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-bottom: -13px;
  margin-left: 0px;
  margin-right: 0px;
}

none{
  display: block;
  height: 3px;
}

section-title {
  display: block;
  font-family: 'Name Headings';
  text-transform: uppercase;
  font-size: 25pt;
  padding-top: 10px;
}

right{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 660px;
  bottom: 15px;
  top: 18px;
  width: 1090px;
  overflow: hidden;
}
