growth {
  background-image: url('../../images/board/Growth_Without_Text.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  margin-top: -8px;
  background-color: transparent;
  background-clip: border-box;
  display: block;
}

growth section-title {
  margin-left: 40px;
  margin-top: -12px;
}

sub-growth {
  display: inline-flex;
}

growth sub-section-title {
  top: 17px;
  margin-top: 14px;
  position: absolute;

  display: flex;
  font-family: 'DK Snemand', 'Mouse Memoirs';
  text-transform: uppercase;
  font-size: 18pt;
  font-weight: bold;
}

growth .tint{
    width: 80%;
    height: 110%;
    opacity: 0.2;
    position: absolute;
    top: -12%;
    left: 10%;
}

growth sub-section-title>span {
  flex-grow: 0;
  flex-shrink: 0;
}

growth sub-section-line {
  background-image: url('../../images/board/growth_underline.png');	
  height: 5px;
  width: 100%;
  background-size: 100% 100%;
  flex-shrink: 99;
  background-repeat: no-repeat;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 8px;
  margin-right: 8px;
  z-index: 1;
}

growth-table {
  display: inline-flex;
  width: 1100px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 0px;
  justify-content: space-around;
  padding-right: 10px;
  box-sizing: border-box;
}

sub-section-title+growth-table{
  margin-top: 55px;
}

growth-border {
  background-image: url('../../images/board/Growthborder.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 7px;
  height: 125px;
  margin-top: -30px;
  margin-left: 5px;
  margin-right: 5px;
}

growth-border[double] {
  background-repeat: repeat-x;
  background-position: left;
  width: 10px;
}

growth-cell {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

growth-cell-double {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

growth-cell icon {
  margin-bottom: 7px;
  height: 90px;
}

/* Repeating Growth Options (Fractured Days) */
repeat-growth {
    background-image: url('../../images/board/NewIcons/Growth Multiply Blank.png');
    position: absolute;
    width: 40px;
    height: 40px;
    top: -30px;
    left: 5px;
	background-repeat: no-repeat;
    background-size: contain;
}

repeat-growth value{
  font-family: 'Gobold Extra2', 'Noto Sans';
    font-size: 18pt;
    display: inline-block;
    margin-top: 4px;
    margin-left: 10px;
    color: #52301e;
  
}

/* Gaining Flat Energy */
growth-energy {
  background-image: url('../../images/board/AddEnergyBlank.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  height: 110px;
  width: 110px;
  margin-top: -20px;
}

growth-energy value {
  font-family: 'Gobold Extra2', 'Noto Sans';
  font-size: 24pt;
  display: inline-block;
  margin-top: 35px;
  margin-left: 25px;
}

/* Complex add presence options */
custom-presence-req {
    font-size: 20pt;
    font-weight: bold;
    margin-top: -34px;
    margin-bottom: 15px;
    width: auto;
    height: 110px;
    display: block;
}

custom-presence, custom-presence-or {
  font-size: 20pt;
  font-weight: bold;
  display: block;
  margin-top: 5px;
  width: auto;
  height: 110px;
  margin-bottom: -30px;
  margin-top: 11px;
}

custom-presence-or icon.backslash {
    width: 8px;
    height: 25px;
    margin-bottom: -3px;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: -1px;
}

custom-presence-or icon, custom-presence-or icon.wilds, custom-presence-or icon.disease, custom-presence-or icon.strife, custom-presence-or icon.beasts{
    margin-bottom: -5px;
    width: 33px;
    height: 34px;
    margin-left: -4px;
}

custom-presence-no-range {
  font-size: 20pt;
  font-weight: bold;
  display: block;
  width: auto;
  height: 110px;
  margin-bottom: -43px;
  margin-top: 24px;
}

custom-presence-no-range icon.range-any {
width:0px
}

custom-presence icon.range-0,
custom-presence icon.range-1,
custom-presence icon.range-2,
custom-presence icon.range-3,
custom-presence icon.range-4 {
  margin-bottom: 10px;
}

custom-presence-req icon.dahan {
    display: block;
    height: 45px;
    width: 45px;
    margin-top: 7px;
    margin-bottom: -5px;
    margin-left: 43px;
}

presence-req icon.presence {
    display: block;
    height: 45px;
    width: 45px;
    margin-top: 7px;
    margin-bottom: -5px;
/*     margin-left: 43px !important; */
}

presence-req icon.sand, presence-req icon.wetland, presence-req icon.jungle, presence-req icon.mountain, 
presence-req icon.jungle-wetland, presence-req icon.jungle-sand, presence-req icon.sand-wetland, 
presence-req icon.mountain-sand, presence-req icon.mountain-wetland, presence-req icon.mountain-jungle,
presence-req icon.wetland-jungle, presence-req icon.sand-jungle, presence-req icon.wetland-sand, 
presence-req icon.sand-mountain, presence-req icon.wetland-mountain, presence-req icon.jungle-mountain,
presence-req icon.town, presence-req icon.city, presence-req icon.blight, 
presence-req icon.dahan, presence-req icon.invaders,
presence-req icon.presence, presence-req icon.wilds, presence-req icon.beasts,
presence-req icon.disease, presence-req icon.strife, presence-req icon.explorer, 
presence-req icon.badlands, presence-req icon.fear, presence-req icon.range-plus-1{
	display: inline-block;
	height: 37px;
	width: 37px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
	margin-bottom: -10px;
}

presence-req icon.town, presence-req icon.disease {
	height: 37px;
	width: 27px;
}

presence-req icon.presence {
	width: 35px;
	height: 27px;
	margin-top: 0px;
}

presence-req icon.blight {
    width: 30px;
}

presence-req icon.invaders {
	width: 70px;
	height: 25px;
	margin-top: 22px;
}

presence-req icon.sand, presence-req icon.wetland, presence-req icon.jungle, presence-req icon.mountain, 
presence-req icon.jungle-wetland, presence-req icon.jungle-sand, presence-req icon.sand-wetland, 
presence-req icon.mountain-sand, presence-req icon.mountain-wetland, presence-req icon.mountain-jungle,
presence-req icon.wetland-jungle, presence-req icon.sand-jungle, presence-req icon.wetland-sand, 
presence-req icon.sand-mountain, presence-req icon.wetland-mountain, presence-req icon.jungle-mountain {
    width: 37px;
    margin-top: -1px;
    margin-bottom: -12px;
    margin-right: -3px;
    margin-left: -3px;
}

presence-req icon.jungle-wetland, presence-req icon.jungle-sand, presence-req icon.sand-wetland, 
presence-req icon.mountain-sand, presence-req icon.mountain-wetland, presence-req icon.mountain-jungle,
presence-req icon.wetland-jungle, presence-req icon.sand-jungle, presence-req icon.wetland-sand, 
presence-req icon.sand-mountain, presence-req icon.wetland-mountain, presence-req icon.jungle-mountain {
	width: 80px;
	transform: translateY(0px) translateX(6px);
}



presence-req {
  font-family: 'Lato SemiBold';
  font-size: 14pt;
  font-style: italic;
  display: block;
  height:45px;
}

growth-cell icon.make-fast {
  margin-bottom: 7px;
}

growth-cell icon.reclaim-all {
  margin-bottom: 7px;
}

growth-cell icon.reclaim-custom {
  margin-bottom: 7px;
}

growth-cell icon.isolate {
  width:70px;
  margin-bottom: 7px;
}

growth-cell icon.gain-power-card {
  margin-bottom: 7px;
}

growth-cell icon.forget-power-card {
  margin-bottom: 7px;
}

growth-cell icon.energy-per-play {
    margin-bottom: 0px;
    margin-top: -20px;
    width: 100px;
    height: 110px;
}

growth-cell icon.destroyed-presence, growth-cell icon.destroy-presence {
  margin-bottom: 7px;
  height:90px;
  width:100px;
}

growth-cell icon.reclaim-one {
  margin-bottom: 7px;
}

growth-cell icon.reclaim-none {
  margin-bottom: 7px;
}

growth-cell icon.ignore-range {
  margin-left: 20px;
  margin-bottom: 7px;
}

custom-icon {
    font-size: 20pt;
    font-weight: bold;
    display: block;
    margin-top: -31px;
    width: auto;
    height: 122px;
    margin-bottom: 0px;
}

custom-icon .token {
    width: 40px;
    height: 35px;
    margin-bottom: -3px;
    margin-top: 31px;
    margin-left: 0px;
}

custom-icon icon.isolate{
    width: 50px;
    margin-bottom: -20px;
}


growth-text {
  font-family: 'Lato SemiBold';
  font-size: 14pt;
  font-style: italic;
  margin-top: 0px;
  text-align: center;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

growth-text icon.explorer,
growth-text icon.town,
growth-text icon.city,
growth-text icon.explorer{
	width:30px;
	height:20px;
    margin-bottom: -3px;
    margin-left: -9px;
    margin-right: -5px;
}

.plus-text {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20pt;
    font-weight: bold;
    font-style: normal;
}

plus-text {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20pt;
    font-weight: bold;
    font-style: normal;
}

plus-text::after {
	content: "+";

}

.non-icon {
    font-family: 'DK Snemand', 'Mouse Memoirs';
    font-size: 20pt;
	font-style: normal;
}

.non-icon.small {
    font-size: 14pt;
}

growth-cell icon.gather-arrow {
  margin-bottom: 7px;
  background-image: url('../../images/board/half_arrow_gather.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 70px;
  height: 17px;
  margin-left: 45px;
  margin-top: -34px;
}

growth-cell icon.push-arrow {
  margin-bottom: 7px;
  background-image: url('../../images/board/half_arrow_push.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 70px;
  height: 17px;
  margin-left: 45px;
  margin-top: -34px;
}

growth-cell icon.gain-card-play {
  margin-bottom: 7px;
}

growth-cell icon.push>icon {
  left: -15px;
  top: 17px;
}

growth-cell icon.push-from>icon {
	left: -10px;
    top: 30px;
}

growth-cell icon.push-from>.from {
    left: -20px;
    top: 11px;
    width: 35px;
}

growth-cell icon.gather>icon {
  left: 65px;
  top: 17px;
}

growth-cell icon.gather-into>icon {
  left: 79px;
  top: 23px;
}

growth-cell icon.gather-into>.into {
  left: -30px;
  top: 10px;
  width:35px;
}

growth-cell icon.gather-into>icon.explorer {
    height: 35px;
    margin-top: -10px;
    margin-bottom: -6px;
}

growth-cost {
  font-family: 'Gobold Extra2', 'Noto Sans';
  font-size: 16pt;
  background-image: url('../../images/board/NewIcons/Energy Blank Small.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: -50px;
    background-position: center;
    height: 45px;
    width: 45px;
    top: -35px;
    position: relative;
    left: -6px;
    padding-top: 9px;
}

growth-cost::after {
  content: 'Cost';
  font-family: 'Lato SemiBold';
  font-size: 14pt;
  font-style: italic;
  position: absolute;
  left: 3px;
  top: 44px;
}

presence-special-req {
  background-image: url('../../images/board/75px_presence.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  height: 25px;
  width: 35px;
  margin-bottom: -7px;
}

add-presence-req {
  display: block;
  font-weight: bold;
  font-size: 18pt;
}

/* Deal Damage in Growth */
growth-damage {
    background-image: url('../../images/board/NewIcons/Damage Blank.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 20pt;
    font-weight: bold;
    display: block;
    margin-top: -11px;
    width: auto;
    height: 80px;
    margin-bottom: 1px;
    margin-right: 0px;
}

growth-damage value {
  font-family: 'Gobold Extra2', 'Noto Sans';
    font-size: 22pt;
    display: inline-block;
    margin-top: 36px;
    margin-left: 0px;
}



card-play-num {
    background-image: url('../../images/board/NewIcons/Cardplay Gain Blank.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 90px;
    width: 90px;
    display: block;
    z-index: 1;
    position: relative;
    margin-left: 0;
    margin-bottom: 7px;
    margin-top: -7px;
}

card-play-num value {
    font-family: 'Gobold Extra2', 'Noto Sans';
    font-size: 24pt;
    display: inline-block;
    margin-top: 32px;
    margin-left: 0px;
}

growth-cell card-play {
  background-image: url('../../images/board/card_play.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 70px;
  margin-left: 25px;
  margin-top: -39px;
}

your-land {
  background-image: url('../../images/board/NeutralBoard.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 70px;
  margin-top: 35px;
  margin-left: 12px;
  margin-bottom: -8px;
}

move {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-left: 13px;
  text-align: center;
}

icon.push {
  height: 62px;
  width:100px;
}

push {
  background-image: url('../../images/board/half_arrow_push.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 70px;
  height: 17px;
  margin-left: 45px;
  margin-top: -34px;
}

gather {
  background-image: url('../../images/board/half_arrow_gather.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 70px;
  height: 17px;
  margin-left: 45px;
  margin-top: -34px;
}

push-gather {
  font-size: 20pt;
  font-weight: bold;
  display: block;
  margin-top: 4px;
  width: auto;
  height: 110px;
  margin-bottom: -22px;
}

push-gather icon.terrain-gather {
	display: inline-block;
    height: 62px;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 7px;
    margin-top: 0px;
    margin-left: 0px;
}

push-gather icon.terrain-push {
	display: inline-block;
    height: 62px;
    width: 100px;
    margin-right: 0px;
    margin-bottom: 7px;
    margin-top: 0px;
    margin-left: 0px;
}

push-gather icon.terrain-gather>icon.into{
    left: 58px;
    top: -8px;
	position: relative;
    text-align: unset;
    width: 30px;
    height: 25px;
    margin: 0px;
    padding: 0px;
}

push-gather icon.terrain-push>icon.from{
	left: -26px;
    top: 13px;
	position: relative;
    text-align: unset;
    width: 30px;
    height: 25px;
    margin: 0px;
    padding: 0px;
}

push-gather icon.terrain-push.ocean>icon.from{
	left: -8px;
    top: -8px;
}

push-gather icon.terrain-gather>icon.gather-arrow{
	left: 60px;
    top: 17px;
	position: relative;
    text-align: unset;
	width: 32px;
    height: 25px;
	margin: 0px;
    padding: 0px;
}

push-gather icon.terrain-push>icon.push-arrow{
	left: 47px;
    top: 38px;
	position: relative;
    text-align: unset;
	width: 40px;
    height: 25px;
	margin: 0px;
    padding: 0px;
}

push-gather icon.terrain-push.ocean>icon.push-arrow{
	left: 63px;
    top: 17px;
}

push-gather-range-req {
    font-size: 20pt;
    font-weight: bold;
    margin-top: -27px;
    margin-bottom: 8px;
    width: auto;
    height: 110px;
    display: block;
}

/* Element Icons */
growth-cell gain icon.fire,
growth-cell gain icon.any,
growth-cell gain icon.water,
growth-cell gain icon.air,
growth-cell gain icon.earth,
growth-cell gain icon.animal,
growth-cell gain icon.plant,
growth-cell gain icon.sun,
growth-cell gain icon.moon,
growth-cell gain icon.star,
growth-cell gain icon.markerminus,
growth-cell gain icon.markerplus {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-top: 21px;
  margin-bottom: 7px;
}

growth-cell gain icon.star {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 87px;
    width: 87px;
    margin-top: -3px;
    margin-bottom: 7px;
}

/* Enables growth option - OR multiple different elements */
growth-cell gain icon.orelement {
  background-size: 70%;
  transform: translateY(0px);
  margin-right: -7px;
  margin-left: -7px;
}

gain.or {
	display:flex;
	flex-direction:row;
}

growth-cell icon.presence{
  margin-left: 5px;
}

growth-cell div.custom-scaling{
    font-family: 'DK Snemand', 'Mouse Memoirs';
    font-size: 28pt;
    font-style: normal;
}

gain {
	height: 90px;
}

/* Enables growth option - 2 of same element */
icon-multi-element icon, icon-multi-element energy-icon,icon-multi-element card-icon {
  display: inline-block;
  position: absolute;
}

icon-multi-element icon.star{
    width: 80px;
    margin-top: -10px;
    margin-left: -5px;
}

/* Gaining Energy per Element/Icon */
gain-per {
    background-image: url('../../images/board/AddEnergyBlank.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 75px;
    width: 75px;
    display: block;
    z-index: 1;
    position: relative;
    margin-left: -27px;
    margin-bottom: 50px;
    margin-top: -35px;
}

gain-per value {
  font-family: 'Gobold Extra2', 'Noto Sans';
  font-size: 16pt;
  display: inline-block;
  margin-top: 25px;
  margin-left: 11px;
}

gain-per-element icon{
  height: 50px;
  width: 50px;
  z-index: 1;
  position: relative;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

gain-per-element icon.fire,
gain-per-element icon.any,
gain-per-element icon.water,
gain-per-element icon.air,
gain-per-element icon.earth,
gain-per-element icon.animal,
gain-per-element icon.plant,
gain-per-element icon.sun,
gain-per-element icon.moon,
gain-per-element icon.sacred-site,
gain-per-element icon.destroyed-presence,
gain-per-element icon.explorer, gain-per-element icon.town, gain-per-element icon.city,
gain-per-element icon.custom1, gain-per-element icon.custom2, gain-per-element icon.custom3 {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 60px;
  width: 50px;
  z-index: 0;
}

gain-per-element icon.sun {background-image: url(../../images/board/element_simple_sun.png);}
gain-per-element icon.earth {background-image: url(../../images/board/element_simple_earth.png);}
gain-per-element icon.plant {background-image: url(../../images/board/element_simple_plant.png);}
gain-per-element icon.fire {background-image: url(../../images/board/element_simple_fire.png);}
gain-per-element icon.air {background-image: url(../../images/board/element_simple_air.png);}
gain-per-element icon.moon {background-image: url(../../images/board/element_simple_moon.png);}
gain-per-element icon.animal {background-image: url(../../images/board/element_simple_animal.png);}
gain-per-element icon.water {background-image: url(../../images/board/element_simple_water.png);}
gain-per-element icon.any {background-image: url(../../images/board/element_simple_any.png);}

gain-per-element ring-icon{
    background-image: url(../../images/board/CardPlayRing.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 70px;
    width: 70px;
    z-index: 2;
	margin-left: -47px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Totally Custom Growth Options (Icon, text, etc) */
custom-growth-icon {
    font-size: 20pt;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    width: auto;
    height: 90px;
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}


custom-growth-icon icon.explorer {
    width: 50px;
    height: 70px;
	margin-top: 0px;
}

icon.custom-growth-icon {
    width: 70px;
    height: 70px;
	margin-top: 0px;
    margin-bottom: 7px;
	background-position: bottom;
}

/* Gaining Fear */
growth-fear {
  background-image: url('../../images/board/fear.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    height: 110px;
    width: 80px;
    margin-top: -20px;
}

growth-fear value {
    font-family: 'Gobold Extra2', 'Noto Sans';
    font-size: 20pt;
    display: inline-block;
    margin-top: 48px;
    margin-left: 0px;
}

fear-per {
    background-image: url('../../images/board/fear.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 75px;
    width: 53px;
    display: block;
    z-index: 1;
    position: relative;
    margin-left: 0px;
    margin-bottom: 50px;
    margin-top: -35px;
}

fear-per value{
    font-family: 'Gobold Extra2', 'Noto Sans';
    font-size: 14pt;
    display: inline-block;
    margin-top: 33px;
    margin-left: 0px;
}

gain-per-fear ring-icon{
    background-image: url('../../images/board/CardPlayRing.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 70px;
    width: 70px;
    z-index: 2;
    margin-left: -32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

gain-per-fear icon.fire,
gain-per-fear icon.any,
gain-per-fear icon.water,
gain-per-fear icon.air,
gain-per-fear icon.earth,
gain-per-fear icon.animal,
gain-per-fear icon.plant,
gain-per-fear icon.sun,
gain-per-fear icon.moon,
gain-per-fear icon.sacred-site,
gain-per-fear icon.destroyed-presence,
gain-per-fear icon.explorer, gain-per-fear icon.town, gain-per-fear icon.city,
gain-per-fear icon.custom1, gain-per-faer icon.custom2, gain-per-fear icon.custom3 {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 60px;
  width: 60px;
  z-index: 0;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

gain-per-fear icon.sun {background-image: url(../../images/board/element_simple_sun.png);}
gain-per-fear icon.earth {background-image: url(../../images/board/element_simple_earth.png);}
gain-per-fear icon.plant {background-image: url(../../images/board/element_simple_plant.png);}
gain-per-fear icon.fire {background-image: url(../../images/board/element_simple_fire.png);}
gain-per-fear icon.air {background-image: url(../../images/board/element_simple_air.png);}
gain-per-fear icon.moon {background-image: url(../../images/board/element_simple_moon.png);}
gain-per-fear icon.animal {background-image: url(../../images/board/element_simple_animal.png);}
gain-per-fear icon.water {background-image: url(../../images/board/element_simple_water.png);}