growth {
  background-image: url('../../images/board/Growth_Without_Text.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-top: -8px;
  background-color: transparent;
  background-clip: border-box;
  display: block;
}

growth section-title {
  margin-left: 40px;
  margin-top: -12px;
}

sub-growth {
  display: inline-flex;
}

growth sub-section-title {
  top: 17px;
  margin-top: 14px;
  position: absolute;

  display: flex;
  font-family: 'DK Snemand';
  font-size: 18pt;
  font-weight: bold;
}

growth sub-section-title>span {
  flex-grow: 0;
  flex-shrink: 0;
}

growth sub-section-line {
  background-image: url('../../images/board/growth_underline.png');	
  height: 5px;
  width: 100%;
  background-size: 100% 100%;
  flex-shrink: 99;
  background-repeat: no-repeat;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 8px;
  margin-right: 8px;
  z-index: 1;
}

growth-table {
  display: inline-flex;
  width: 1081px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 0px;
  justify-content: space-around;
  padding-right: 10px;
  box-sizing: border-box;
}

sub-section-title+growth-table{
  margin-top:60px ;
}

growth-border {
  background-image: url('../../images/board/Growthborder.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 7px;
  height: 125px;
  margin-top: -30px;
  margin-left: 10px;
  margin-right: 10px;
}

growth-border[double] {
  background-repeat: repeat-x;
  background-position: left;
  width: 10px;
}

growth-cell {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

growth-cell-double {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

growth-cell icon.discard-cards {
  margin-bottom: 7px;
}

growth-energy {
  background-image: url('../../images/board/AddEnergyBlank.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  height: 110px;
  width: 110px;
  margin-top: -20px;
}

growth-energy value {
  font-family: 'Gobold Extra2';
  font-size: 24pt;
  display: inline-block;
  margin-top: 35px;
  margin-left: 25px;
}

custom-presence-req {
    font-size: 20pt;
    font-weight: bold;
    margin-top: -34px;
    margin-bottom: 15px;
    width: auto;
    height: 110px;
    display: block;
}

custom-presence {
  font-size: 20pt;
  font-weight: bold;
  display: block;
  margin-top: 4px;
  width: auto;
  height: 110px;
  margin-bottom: -22px;
}

custom-presence-no-range {
  font-size: 20pt;
  font-weight: bold;
  display: block;
  width: auto;
  height: 110px;
  margin-bottom: -74px;
  margin-top: 55px;
}

custom-presence icon.range-0,
custom-presence icon.range-1,
custom-presence icon.range-2,
custom-presence icon.range-3,
custom-presence icon.range-4 {
  margin-bottom: 10px;
}

custom-presence-req icon.dahan {
    display: block;
    height: 45px;
    width: 45px;
    margin-top: 7px;
    margin-bottom: -5px;
    margin-left: 43px;
}

presence-req icon.presence {
    display: block;
    height: 45px;
    width: 45px;
    margin-top: 7px;
    margin-bottom: -5px;
/*     margin-left: 43px !important; */
}

presence-req icon.sand, presence-req icon.wetland, presence-req icon.jungle, presence-req icon.mountain, 
presence-req icon.jungle-wetland, presence-req icon.jungle-sand, presence-req icon.sand-wetland, 
presence-req icon.mountain-sand, presence-req icon.mountain-wetland, presence-req icon.mountain-jungle,
presence-req icon.wetland-jungle, presence-req icon.sand-jungle, presence-req icon.wetland-sand, 
presence-req icon.sand-mountain, presence-req icon.wetland-mountain, presence-req icon.jungle-mountain,
presence-req icon.town, presence-req icon.city, presence-req icon.blight, 
presence-req icon.dahan, presence-req icon.invaders,
presence-req icon.presence, presence-req icon.wilds, presence-req icon.beasts,
presence-req icon.disease, presence-req icon.strife, presence-req icon.explorer, 
presence-req icon.badlands, presence-req icon.fear, presence-req icon.range-plus-1{
	display: inline-block;
	height: 40px;
	width: 40px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
}

presence-req icon.presence {
	width: 35px;
	height: 27px;
	margin-top: 20px;	
}

presence-req icon.blight {
	height: 35px;
}

presence-req icon.invaders {
	width: 70px;
	height: 25px;
	margin-top: 22px;
}

presence-req icon.jungle-wetland, presence-req icon.jungle-sand, presence-req icon.sand-wetland, 
presence-req icon.mountain-sand, presence-req icon.mountain-wetland, presence-req icon.mountain-jungle,
presence-req icon.wetland-jungle, presence-req icon.sand-jungle, presence-req icon.wetland-sand, 
presence-req icon.sand-mountain, presence-req icon.wetland-mountain, presence-req icon.jungle-mountain {
	width: 80px;
	transform: translateY(0px) translateX(6px);
}

presence-req {
  font-family: 'Lato SemiBold';
  font-size: 14pt;
  font-style: italic;
  display: block;
  height:45px;
}

growth-cell icon.make-fast {
  margin-bottom: 7px;
}

growth-cell icon.reclaim-all {
  margin-bottom: 7px;
}

growth-text {
  font-family: 'Lato SemiBold';
  font-size: 14pt;
  font-style: italic;
  margin-top: 0px;
  text-align: center;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

.plus-text {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20pt;
    font-weight: bold;
    font-style: normal;
}

.non-icon {
    font-family: 'DK Snemand';
    font-size: 20pt;
	font-style: normal;
}

.non-icon.small {
    font-size: 14pt;
}

growth-cell icon.gain-power-card {
  margin-bottom: 7px;
}

growth-cell icon.forget-power-card {
  margin-bottom: 7px;
}

growth-cell icon.gain-card-play {
  margin-bottom: 7px;
}

growth-cell icon.push>icon {
  left: -15px;
  top: 17px;
}

growth-cell icon.gather>icon {
  left: 65px;
  top: 17px;
}

growth-cell icon.reclaim-one {
  margin-bottom: 7px;
}

growth-cell icon.reclaim-none {
  margin-bottom: 7px;
}

growth-cell icon.ignore-range {
  margin-left: 20px;
  margin-bottom: 7px;
}

growth-cost {
  font-family: 'Gobold Extra2';
  font-size: 16pt;
  background-image: url('../../images/board/NewIcons/Energy Blank.png');
  background-repeat: no-repeat;
  background-size: 110%;
  margin-right: -50px;
  background-position: center;
  height: 50px;
  width: 50px;
  top: -45px;
  position: relative;
  left: -10px;
  padding-top: 12px;
}

growth-cost::after {
  content: 'Cost';
  font-family: 'Lato SemiBold';
  font-size: 14pt;
  font-style: italic;
  top: 49px;
  position: absolute;
  left: 7px;

}

.description icon.dahan {
  height: 25px;
  width: 25px;
  margin-bottom: -4px;
  margin-top: 0px;
  margin-left: -3px;
  margin-right: -3px;
}

.description icon.blight {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 0px;
  margin-bottom: -4px;
}

presence-special-req {
  background-image: url('../../images/board/75px_presence.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  height: 25px;
  width: 35px;
  margin-bottom: -7px;
}

add-presence-req {
  display: block;
  font-weight: bold;
  font-size: 18pt;
}

.description icon.presence {
  height: 25px;
  width: 35px;
  margin-bottom: -8px;
}

.description icon.beasts {
  background-image: url('../../images/board/beast.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-bottom: -4px;
  margin-top: 0px;
}



gain-per {
    background-image: url(../../images/board/AddEnergyBlank.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 75px;
    width: 75px;
    display: block;
    z-index: 1;
    position: relative;
    margin-left: -20px;
    margin-bottom: 50px;
    margin-top: -35px;
}

gain-per value {
  font-family: 'Gobold Extra2';
  font-size: 16pt;
  display: inline-block;
  margin-top: 25px;
  margin-left: 11px;
}

growth-cell card-play {
  background-image: url('../../images/board/card_play.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 70px;
  margin-left: 25px;
  margin-top: -39px;
}

your-land {
  background-image: url('../../images/board/NeutralBoard.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 70px;
  margin-top: 35px;
  margin-left: 12px;
  margin-bottom: -8px;
}

move {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-left: 13px;
  text-align: center;
}

push {
  background-image: url('../../images/board/half_arrow_push.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 70px;
  height: 17px;
  margin-left: 45px;
  margin-top: -34px;
}

gather {
  background-image: url('../../images/board/half_arrow_gather.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 70px;
  height: 17px;
  margin-left: 45px;
  margin-top: -34px;
}

push-gather {
  font-size: 20pt;
  font-weight: bold;
  display: block;
  margin-top: 4px;
  width: auto;
  height: 110px;
  margin-bottom: -22px;
}

push-gather-range-req {
    font-size: 20pt;
    font-weight: bold;
    margin-top: -27px;
    margin-bottom: 8px;
    width: auto;
    height: 110px;
    display: block;
}

growth-cell gain icon.fire,
growth-cell gain icon.any,
growth-cell gain icon.water,
growth-cell gain icon.air,
growth-cell gain icon.earth,
growth-cell gain icon.animal,
growth-cell gain icon.plant,
growth-cell gain icon.sun,
growth-cell gain icon.moon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-top: 21px;
}

/* Enables growth option - OR multiple different elements */
growth-cell gain icon.orelement {
  background-size: 70%;
  transform: translateY(0px);
  margin-right: -7px;
  margin-left: -7px;
}

growth-cell icon.fire,
growth-cell icon.any,
growth-cell icon.water,
growth-cell icon.air,
growth-cell icon.earth,
growth-cell icon.animal,
growth-cell icon.plant,
growth-cell icon.sun,
growth-cell icon.moon {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 60px;
  margin-left: 0px;
  margin-top: -73px;
  margin-bottom: 7px;
}

growth-cell icon.presence{
  margin-left: 5px;
}

/* Enables growth option - 2 of same element */
icon-multi-element icon, icon-multi-element energy-icon,icon-multi-element card-icon {
  display: inline-block;
  position: absolute;
}

gain-per-element icon{
    height: 60px;
    width: 60px;
    z-index: 1;
    position: relative;
    margin-left: -15px;
    margin-bottom: 50px;
    margin-top: -35px;
}

gain-per-element icon.fire,
gain-per-element icon.any,
gain-per-element icon.water,
gain-per-element icon.air,
gain-per-element icon.earth,
gain-per-element icon.animal,
gain-per-element icon.plant,
gain-per-element icon.sun,
gain-per-element icon.moon {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 60px;
  z-index: 0;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

gain-per-element icon.sun {background-image: url(../../images/board/element_simple_sun.png);}

gain-per-element icon.earth {background-image: url(../../images/board/element_simple_earth.png);}

gain-per-element icon.plant {background-image: url(../../images/board/element_simple_plant.png);}

gain-per-element icon.fire {background-image: url(../../images/board/element_simple_fire.png);}

gain-per-element icon.air {background-image: url(../../images/board/element_simple_air.png);}

gain-per-element icon.moon {background-image: url(../../images/board/element_simple_moon.png);}

gain-per-element icon.animal {background-image: url(../../images/board/element_simple_animal.png);}

gain-per-element icon.water {background-image: url(../../images/board/element_simple_water.png);}

gain-per-element ring-icon{
    background-image: url(../../images/board/CardPlayRing.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 70px;
    width: 70px;
    z-index: 2;
    margin-left: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
}