icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 25px;
  margin-top: -7px;
  margin-bottom: -4px;
}

icon.any { background-image: url('../../images/board/Any.png'); }
icon.fire { background-image: url('../../images/board/Fire.png'); }
icon.water { background-image: url('../../images/board/Water.png'); }
icon.moon { background-image: url('../../images/board/Moon.png'); }
icon.air { background-image: url('../../images/board/Air.png'); }
icon.animal { background-image: url('../../images/board/Animal.png'); }
icon.plant { background-image: url('../../images/board/Plant.png'); }
icon.sun { background-image: url('../../images/board/Sun.png'); }
icon.earth { background-image: url('../../images/board/Earth.png'); }

icon.jungle-wetland { background-image: url('../../images/board/junglewetland.png'); }
icon.jungle-sand { background-image: url('../../images/board/junglesand.png'); }
icon.sand-wetland { background-image: url('../../images/board/sandwetland.png'); }
icon.mountain-jungle { background-image: url('../../images/board/mountainjungle.png'); }
icon.mountain-wetland { background-image: url('../../images/board/mountainwetland.png'); }
icon.mountain-sand { background-image: url('../../images/board/mountainsand.png'); }
icon.sand { background-image: url('../../images/board/sand.png'); }
icon.mountain { background-image: url('../../images/board/mountain.png'); }
icon.jungle { background-image: url('../../images/board/jungle.png'); }
icon.wetland { background-image: url('../../images/board/wetland.png'); }
icon.ocean { background-image: url('../../images/board/ocean.png'); }

icon.discard-cards {
  background-image: url('../../images/board/discard_power_cards.png');
  display: block;
  height: 90px;
  width:90px;
}

icon.none {
  display:none;
}

icon.presence {
  background-image: url('../../images/board/75px_presence.png');
  height: 25px;
  width: 35px;
  margin-bottom:-9px;
  margin-left:0px;
}

icon.beast{
  background-image: url('../../images/board/beast.png');
  height: 25px;
  width: 35px;
  margin-bottom: -7px;
  margin-right: -4px;
  margin-left: -4px;
}

icon.move-presence {
  background-image: url('../../images/board/75px_presence.png');
  display: block;
  height: 18px;
  margin-top: 4px;
  margin-bottom: 8px;
}

icon.move-range-1 {
  background-image: url('../../images/board/move_range_1.png');
  display: block;
}

icon.move-range-2 {
  background-image: url('../../images/board/move_range_2.png');
  display: block;
}

icon.move-range-3 {
  background-image: url('../../images/board/move_range_3.png');
  display: block;
}

icon.move-range-4 {
  background-image: url('../../images/board/move_range_4.png');
  display: block;
}

icon.move-range-1, icon.move-range-2, icon.move-range-3, icon.move-range-4 {
  height: 55px;
  width: 133px;
  margin-top: 10px;
  margin-bottom: 7px;
}

icon.range-0, icon.range-1, icon.range-2, icon.range-3, icon.range-4 {
  height: 45px;
  width: 130px;
  margin-top: 11px;
}

icon.range-0 {
  background-image: url('../../images/board/presence_range_0.png');
  display: block;
}

icon.range-1 {
  background-image: url('../../images/board/presence_range_1.png');
  display: block;
}

icon.range-2 {
  background-image: url('../../images/board/presence_range_2.png');
  display: block;
}

icon.range-3 {
  background-image: url('../../images/board/presence_range_3.png');
  display: block;
}

icon.range-4 {
  background-image: url('../../images/board/presence_range_4.png');
  display: block;
}

icon.sacred-site {
  background-image: url('../../images/board/sacred_site.png');
  width: 50px;
}

icon.presence { background-image: url('../../images/board/75px_presence.png'); }
icon.sands-presence { background-image: url('../../images/board/sands-presence.png'); }
icon.mountain-presence { background-image: url('../../images/board/mountain-presence.png'); }
icon.wetland-presence { background-image: url('../../images/board/wetland-presence.png'); }
icon.jungle-presence { background-image: url('../../images/board/jungle-presence.png'); }

icon.presence {
  width: 35px;
  height: 35px;
  margin-bottom: -13px;
  margin-left: -2px;
  margin-right: -2px;
}

icon.explorer {
  background-image: url('../../images/board/explorer.png');
  width: 20px;
  height: 35px;
  margin-bottom: -8px;
  margin-left: -5px;
  margin-right: -5px;
}

icon.dahan {
  background-image: url('../../images/board/dahan.png');
  width: 30px;
  height: 30px;
  margin-bottom: -8px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -10px;
}

icon.disease {
  background-image: url('../../images/board/75px_disease.png');
  width: 30px;
  height: 30px;
  margin-bottom: -8px;
  margin-left: -5px;
  margin-right: 0px;
}

icon.strife {
  background-image: url('../../images/board/75px_strife.png');
  width: 30px;
  height: 30px;
  margin-bottom: -8px;
  margin-left: -5px;
  margin-right: 0px;
}

icon.wilds {
  background-image: url('../../images/board/wilds.png');
  width: 30px;
  height: 30px;
  margin-bottom: -8px;
  margin-left: -5px;
  margin-right: -5px;
}

icon.badlands {
  background-image: url('../../images/board/48px_badlands.png');
  width: 30px;
  height: 30px;
  margin-bottom: -8px;
  margin-left: -3px;
  margin-right: -4px;
}

icon.fear {
  background-image: url('../../images/board/fear.png');
  width: 35px;
  height: 35px;
  margin-bottom: -8px;
  margin-left: -5px;
  margin-right: -5px;
}

icon.range-0 { background-image: url('../../images/board/presence_range_0.png'); }
icon.range-1 { background-image: url('../../images/board/presence_range_1.png'); }
icon.range-2 { background-image: url('../../images/board/presence_range_2.png'); }
icon.range-3 { background-image: url('../../images/board/presence_range_3.png'); }
icon.range-4 { background-image: url('../../images/board/presence_range_4.png'); }

icon.player-spirit{
  background-image: url('../../images/board/player-spirit.png');
  width: 30px;
  height: 30px;
}

icon.move-presence-1 {
  background-image: url('../../images/board/move_presence_1.png');
  display: block;
  height: 75px;
  width: 130px;
  margin-top: 20px;
  margin-left: -3px;
  margin-bottom: 8px;
}

icon.move-presence-2 {
  background-image: url('../../images/board/move_presence_2.png');
  display: block;
  height: 75px;
  width: 130px;
  margin-top: 20px;
  margin-left: -3px;
  margin-bottom: 8px;
}

icon.move-presence-3 {
  background-image: url('../../images/board/move_presence_3.png');
  display: block;
  height: 75px;
  width: 130px;
  margin-top: 20px;
  margin-left: -3px;
  margin-bottom: 8px;
}

icon.move-presence-4 {
  background-image: url('../../images/board/move_presence_4.png');
  display: block;
  height: 75px;
  width: 130px;
  margin-top: 20px;
  margin-left: -3px;
  margin-bottom: 8px;
}

icon.blight {
  background-image: url('../../images/board/75px_blight.png');
  margin-bottom: -7px;
  margin-top: 10px;
}

icon.dahan {
  background-image: url('../../images/board/50px_dahan.png');
  height: 30px;
  margin-bottom: -8px;
  margin-top: 0px;
}

icon.town {
  background-image: url('../../images/board/50px_town.png');
  margin-bottom: -7px;
  margin-top: 10px;
}

icon.city {
  background-image: url('../../images/board/75px_city.png');
  margin-bottom: -7px;
  margin-top: 10px;
}

icon.sand, icon.wetland, icon.jungle, icon.mountain, 
icon.jungle-wetland, icon.jungle-sand, icon.sand-wetland, 
icon.mountain-sand, icon.mountain-wetland, icon.mountain-jungle {
    display: block;
    height: 45px;
    width:70px;
    margin-top: 7px;
    margin-bottom: -5px;
    margin-left: 39px;
}

icon.ocean {
    display: block;
    height: 60px;
    width: 70px;
    margin-top: 0px;
    margin-bottom: -12px;
    margin-left: 34px;
}

icon.ignore-range {
    background-image: url('../../images/board/ignore_range.png');
    display: block;
    height: 90px;
    width:90px;
}

icon.reclaim-one {
  background-image: url('../../images/board/Reclaimone.png');
  display: block;
  height: 90px;
  width:90px;
}

icon.gain-card-play {
  background-image: url('../../images/board/Cardplay_Plus_1.png');
  display: block;
  height: 90px;
  width:90px;
}

icon.gain-power-card {
  background-image: url('../../images/board/Gaincardicon.png');
  display: block;
  height: 90px;
  width:90px;
}

icon.forget-power-card {
  background-image: url('../../images/customIcons/forgetCardIcon.png');
  display: block;
  height: 90px;
  width:90px;
}

icon.push {
  background-image: url('../../images/board/NewIcons/Land Push.png');
  display: block;
  height: 100px;
  width:100px;
}

icon.push > icon {
  position: relative;
  text-align: unset;
  top: 28px;
  left:30px;
  width: 25px;
  height: 25px;
  margin: 0px;
  padding: 0px;
}

icon.reclaim-all {
  background-image: url('../../images/board/Reclaimall.png');
  display: block;
  height: 90px;
  width:90px;
}

icon.make-fast {
  background-image: url('../../images/board/fast_power.png');
  display: block;
  height: 90px;
  width:90px;
}