special-rules-container {
  background-image: url('../../images/board/Innate__Special_Rules_Without_Text.png');
  background-repeat: repeat-y;
  background-position: top;
  position: absolute;
  left: 18px;
  min-height: 250px; 
  padding-bottom: 15px;
  padding-top: 48px;
  width: 665px;
  display: flex;
  flex-direction: column;
  font-family: 'JosefinSans-Regular';
  padding-left:15px;
  padding-right:15px;
  z-index: -1;
}

special-rules-subtitle {
  padding-top: 15px;
  padding-bottom: 3px;
  font-family: 'JosefinSans-Regular';
  font-weight: bold;
  font-style: italic;
  font-size: 14pt;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: -0.5px;
  word-spacing: 0.5px;
}

special-rule {
  font-family: 'JosefinSans-Regular';
  font-size: 17pt;
  text-align: left;
  letter-spacing: -0.5px;
  word-spacing: 0px;
  line-height: 29px;
}

special-rule icon.fire, special-rule icon.earth, special-rule icon.plant,
special-rule icon.animal, special-rule icon.air, special-rule icon.water,
special-rule icon.any, special-rule icon.moon, special-rule icon.sun{
  height: 25px;
  width: 25px;
}

special-rule icon.town, special-rule icon.city, special-rule icon.blight,
special-rule icon.dahan, special-rule icon.presence, special-rule icon.wilds,
special-rule icon.beast, special-rule icon.disease, special-rule icon.strife,
special-rule icon.explorer, special-rule icon.badlands, special-rule icon.fear,
special-rule icon.range-plus-1{
    width:30px;
    height:30px
}



special-rule dahan {
  width: 25px;
  margin-left: 0px;
  margin-top: -10px;
}