special-rules-container {
  background-image: url('../../images/board/Innate__Special_Rules_Without_Text.png');
  background-repeat: repeat-y;
  background-position: top;
  position: absolute;
  left: 18px;
  min-height: 250px; 
  padding-bottom: 19px;
  padding-top: 48px;
  width: 665px;
  display: flex;
  flex-direction: column;
  font-family: 'JosefinSans-Regular';
  padding-left:15px;
  padding-right:6px;
  z-index: -1;
}

special-rules-subtitle {
  padding-top: 15px;
  padding-bottom: 3px;
  font-family: 'JosefinSans';
  font-size: 14pt;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: -0.5px;
  word-spacing: 0.5px;
}

special-rule {
  font-family: 'JosefinSans-Regular';
  font-size: 17pt;
  text-align: left;
  letter-spacing: -0.5px;
  word-spacing: 0px;
  line-height: 29px;
  padding-bottom: 6px;
}

special-rule icon.fire, special-rule icon.earth, special-rule icon.plant,
special-rule icon.animal, special-rule icon.air, special-rule icon.water,
special-rule icon.any, special-rule icon.moon, special-rule icon.sun{
  height: 25px;
  width: 25px;
}

special-rule icon.town, special-rule icon.blight, special-rule icon.dahan,
special-rule icon.presence, special-rule icon.wilds, special-rule icon.beasts,
special-rule icon.disease, special-rule icon.strife, special-rule icon.explorer, 
special-rule icon.badlands, special-rule icon.fear, special-rule icon.range-plus-1,
special-rule icon.range-plus-2, special-rule icon.range-plus-3, special-rule icon.fast, 
special-rule icon.slow, special-rule icon.minor, special-rule icon.major {
    width:30px;
    height:30px;
}

special-rule icon.sand, special-rule icon.wetland, special-rule icon.jungle, special-rule icon.mountain, 
special-rule icon.jungle-wetland, special-rule icon.jungle-sand, special-rule icon.sand-wetland {
    width:38px;
    height:35px;
	margin-bottom: -10px;
}

special-rule icon.jungle-wetland, special-rule icon.jungle-sand, special-rule icon.sand-wetland, 
special-rule icon.mountain-sand, special-rule icon.mountain-wetland, special-rule icon.mountain-jungle,
special-rule icon.wetland-jungle, special-rule icon.sand-jungle, special-rule icon.wetland-sand, 
special-rule icon.sand-mountain, special-rule icon.wetland-mountain, special-rule icon.jungle-mountain {
    width:62px;
    height:40px;
	margin-bottom: -10px;
	margin-top: -20px;
}

special-rule icon.range-0, special-rule icon.range-1, special-rule icon.range-2, special-rule icon.range-3 {
    width: 63px;
    height: 39px;
    margin-bottom: -13px;
    margin-top: -20px;
    margin-left: -2px;
    margin-right: -2px;
}

special-rule icon.gain-range-1, special-rule icon.gain-range-2, special-rule icon.gain-range-3{
    width: 43px;
    height: 40px;
    margin-bottom: -13px;
    margin-left: -2px;
    margin-right: -2px;
}

special-rule range-plus-1, 
div.description range-1, 
special-rule range-plus-2, 
div.description range-2, 
special-rule range-plus-3, 
div.description range-3, 
special-rule range-plus-4, 
div.description range-4 {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 45px;
  height: 40px;
  margin-bottom: -20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -10px;
}

special-rule icon.fast, special-rule icon.slow {
    height: 32px;
    width: 40px;
    margin-bottom: -7px;
}

special-rule icon.slow {
	height:32px;
	width: 40px;
}

special-rule icon.disease{
    margin-left: 2px;
}

special-rule icon.wilds{
    width: 36px;
}

special-rule icon.dahan {
    margin-left: 1px;
    margin-right: -2px;
    margin-top: -10px;
    margin-bottom: -5px;
}

special-rule icon.sacred-site{
    width:50px;
    height:30px;
	margin-bottom: -8px;
}

special-rule icon.city{
    width:40px;
    height:30px;
	margin-top: 0px;
}

special-rule dahan {
  width: 25px;
  margin-left: 0px;
  margin-top: -10px;
}

special-rule em icon {
  margin-left: 1px;
  margin-right: -2px;
}

special-rule em icon.presence {
  margin-left: 0px;
  margin-right: -4px;
}

special-rule em icon.dahan {
  margin-left: 1px;
  margin-right: -4px;
}

special-rule icon.sun,special-rule icon.earth, special-rule icon.plant, special-rule icon.fire, 
special-rule icon.air, special-rule icon.moon, special-rule icon.animal, special-rule icon.water,
special-rule icon.any, special-rule icon.markerplus, special-rule icon.markerminus, special-rule icon.markerquestion {
    width: 35px;
    height: 35px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -8px;
}

special-rule icon.star {
    width: 41px;
    height: 41px;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: -11px;
	margin-top: -10px;
}

special-rule icon.sun {background-image: url(../../images/board/element_simple_sun.png);}
special-rule icon.earth {background-image: url(../../images/board/element_simple_earth.png);}
special-rule icon.plant {background-image: url(../../images/board/element_simple_plant.png);}
special-rule icon.fire {background-image: url(../../images/board/element_simple_fire.png);}
special-rule icon.air {	background-image: url(../../images/board/element_simple_air.png);}
special-rule icon.moon {background-image: url(../../images/board/element_simple_moon.png);}
special-rule icon.animal {background-image: url(../../images/board/element_simple_animal.png);}
special-rule icon.water {background-image: url(../../images/board/element_simple_water.png);}
special-rule icon.any {background-image: url(../../images/board/element_simple_any.png);}

icon.presence-ring {
  background-image: url('../../images/board/CardPlayRing.png');
  height: 130px;
    width: 130px;
}
special-rules-track{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

presence-node special-ring-icon {
  background-image: url('../../images/board/50px_presence_transparent.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 54px;
  width: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}

special-rule ul {
	margin-block-end: 0px;
	margin-block-start: 0px;
}

special-rules-track icon.sun { background-image: url('../../images/board/Sun.png'); }
special-rules-track icon.moon { background-image: url('../../images/board/Moon.png'); }
special-rules-track icon.fire { background-image: url('../../images/board/Fire.png'); }
special-rules-track icon.air { background-image: url('../../images/board/Air.png'); }
special-rules-track icon.plant { background-image: url('../../images/board/Plant.png'); }
special-rules-track icon.water { background-image: url('../../images/board/Water.png'); }
special-rules-track icon.earth { background-image: url('../../images/board/Earth.png'); }
special-rules-track icon.animal { background-image: url('../../images/board/Animal.png'); }
special-rules-track icon.star{ background-image: url('../../images/board/NewIcons/Element Star.png'); }
special-rules-track icon.any { background-image: url('../../images/board/Any.png'); }


