html, body{
  padding:0px;
  margin:0px;
  height:100%;
  width:100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:14px;
}

.page-container{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.exterior-border{
  width:800px;
  height:auto;
  border-radius:16px;
  position:relative;
  overflow: hidden;
  display:flex;
  flex-direction:column;
}

.header-container{
  text-align:center;
  display:flex;
  padding-bottom:10px;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  border-bottom:2px solid rgb(73, 73, 73);
}

.header-title{
  margin-left:15px;
  font-weight:bold;
  font-size:32px;
}

.background-image{
  background-image: url('../images/background.PNG');
  background-size:cover;
}

.interior-container{
  height:100%;
  overflow:hidden;
  background-color:rgb(122, 87, 46);
  background-color:rgb(136, 116, 91);
  padding:15px;
  padding-top:0px;
  position:relative;
  display:flex;
  flex-direction: column;
}

.body-container{
  background-color:white;
  height:100%;
}

.body-title{
  font-style:italic;
  font-weight:bold;
  font-size:18px;
}

.loss-escalation-container{
  display:flex;
  flex-wrap:nowrap;
  background-color:rgb(179, 159, 136);
  background-color:rgb(239, 235, 223);
  padding-top:2px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:5px;
  border-bottom:2px solid rgb(94, 94, 94);
}

.loss-container{
  width:45%;
  margin-right:40px;
}

.escalation-container{
  width:50%;
}

.table-container{
  padding:10px;
}

.table{
  width:100%;
  border-collapse: collapse;
}

.table th{
  white-space:nowrap;
  font-style:italic;
  font-size:18px;
}

.cumulative{
  font-size:14px;
  color:gray;
}

.table th:last-child{
  text-align:left;
}

.table th:not(:last-child),
.table td:not(:last-child){
  padding-right:20px;
}

.table tbody tr:not(:last-child) td{
  border-bottom:1px solid black;
}

.table tbody td{
  padding-top:5px;
  padding-bottom: 5px;
}

.table td:nth-child(1),
.table td:nth-child(2){
  white-space:nowrap;
  text-align:center;
}

.table td:nth-child(1){
  font-size:24px;
  font-weight:bold;
}

.info{
  font-style:italic;
}

icon{
  height:18px;
  width:18px;
  margin-bottom:-3px;
}

