@import 'board_front/special-rules.css';
@import 'board_front/innate-power.css';
@import 'board_front/icon.css';
@import 'board_front/exception.css';

@font-face{
  font-family: JosefinSans-Regular;
  src: url(../fonts/josefin-sans/JosefinSans-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html, body{
  padding:0px;
  margin:0px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:14px;
}

html{
  height:100%;
  width:100%;
  overflow-y:auto;
}

body{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

aspect{
  overflow:hidden;
  width:682px;
  height:488px;
  padding: 22px 22px 22px 22px;
  border-radius:22px;
  background-image: url('../images/aspect.png');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

aspect.round-border{
  border-radius:22px;
}

aspect aspect-name{
  font-size:30px;
  font-family:'DK Snemand';
  text-transform: uppercase;
  color:white;
  
  align-items:center;
  justify-content: center;
  text-align:center;
  white-space: normal;
}

aspect aspect-subtext{
  padding-top:8px;
  font-size:20px;
  font-family:JosefinSans-Regular;
  color:white;
  
  align-items:center;
  justify-content: center;
  text-align:center;
  white-space: normal;
}

aspect-container {
  padding: 10px 10px 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

aspect-container innate-power {
  width: 100%;
}

aspect-container innate-power description-container {
  width: 100%;
  height: auto;
}

aspect-container innate-power level {
  width: 100%;
}

aspect-container innate-power note {
  width: 100%;
}

aspect-container innate-power:only-child level {
  width: 100% !important;
}

aspect-container innate-power:only-child note {
  width: 100% !important;
}

aspect-container level .description {
  padding-top: 13px;
}

aspect-back{
  width: 682px;
  height: 488px;
  display: flex;
  position:relative;
}

aspect-back .overlay {
  content:url('../../_global/images/aspect-back.png');
  border-radius:22px;
}

aspect-back img {
  position: absolute;
  width: 682px;
  height: 488px;
  left: 0px;
  top: 0px;
  border-radius:22px;
}

.aspect-back-title {
  position: absolute;
  left: 35px;
  top: 28px;
  width: 280px;
  font-size:30px;
  font-family:'DK Snemand';
  color:white;
  text-align:center;
}

.aspect-back-name {
position: absolute;
    left: 32px;
    top: 70px;
    width: 290px;
    font-size: 20px;
    font-family: 'DK Snemand';
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.or {
    background-image: url(../images/or.PNG);
    background-size: 45%;
    mix-blend-mode: multiply;
    display: block;
    height: 25px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
    margin-bottom: 10px;
}