@font-face {
    font-family: JosefinSans-Regular;
    src: url(../fonts/josefin-sans/JosefinSans-Regular.ttf);
}

html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

html {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 1766px;
    height: 1177px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

board {
    background-image: url('../images/board/BlankLoreBoard.png');
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15.1px;
}

board.round-border {
    border-radius: 15.1px;
}

spirit-name {
    position: absolute;
    left: 33%;
    top: 6px;
    height: 22.67px;
    width: 666.25px;
    font-size: 40pt;
    font-family: 'DK Snemand';
    text-transform: uppercase;
    vertical-align: middle;
    text-align: left;
    z-index: 1;
    white-space: normal;
}

.spirit-image {
    position: absolute;
    left: 0px;
    top: 82.8px;
    width: 842px;
    height: 1086px;
    z-index: -1;
}

lore-description{
    position: absolute;
    left: 883px;
    top: 120px;
    width: 780px;
    height: 310px;
    font-family: 'Calibri';
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

second-section-container{
    position: absolute;
    left: 900px;
    top: 465px;
}

setup{

}

play-style-title, complexity-title, complexity-value, div.summary-of-powers-title{
    font-family: 'DK Snemand';
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

setup-title {
    font-size:33px;
    text-align:left;
    font-family: "DK Snemand";
    padding-left:15px;
    margin-top:80px;
}

setup-description{
    font-family: 'Calibri';
    font-size: 25px;
    font-weight: bold;
    display: block;
}

setup-description icon.fire, setup-description icon.earth, setup-description icon.animal, 
setup-description icon.water, setup-description icon.air, setup-description icon.sun, 
setup-description icon.plant, setup-description icon.moon, setup-description icon.any{
    width: 35px;
    height: 35px;
    margin-bottom: -9px;
    margin-left: -5px;
    margin-right: 0px;
}

play-style{

}

play-style-description{
    font-family: 'Calibri';
    font-size: 25px;
    font-weight: bold;
    display: block;
}

complexity {
    display: block;
    padding-top: 2px;
    padding-left: 5%;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-top: solid black;
    border-bottom: solid black;
    width: 800px;
}

complexity-value{
    color: white;
    background-color: darkred;
    padding-bottom:5px;
    padding-left:20px;
    display:inline-block;
}

complexity-title{
    padding-right:20px;
}

summary-of-powers{
    bottom: -270px;
    position: absolute;
}

div.summary-of-powers-title{
    display: block;
    text-align: center;
    vertical-align: bottom;
    width:195px;
    padding-left:40px;
    padding-right:10px;
    padding-top:60px;
}

.powers-summary{
    margin-top: -125px;
}

.powers-summary tbody tr td {
    width:120px;
    font-family: 'DK Snemand';
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    text-align:center;
}

tr.power-bar td{
    height:140px;
}

tr.power-bar td div{
    height: 140px;
}

.offense, .control, .fear, 
.defense, .utility{
    width: 60px;
    margin-left: 30px;
}

.offense{
    background-color:#4b7364;
}

.control{
    background-color:#45653c;
}

.fear{
    background-color:#524556;
}

.defense {
    background-color:#a8653a;
}

.utility{
    background-color:#51473d;
}

icon.fire {
    background-image: url('../images/board/Fire.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

icon.water {
    background-image: url('../images/board/Water.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


icon.plant {
    background-image: url('../images/board/Plant.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


icon.earth {
    background-image: url('../images/board/Earth.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


icon.air {
    background-image: url('../images/board/Air.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


icon.moon {
    background-image: url('../images/board/Moon.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


icon.sun {
    background-image: url('../images/board/Sun.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


icon.animal {
    background-image: url('../images/board/Animal.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


icon.any {
    background-image: url('../images/board/Any.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

icon.presence {
    background-image: url('../images/board/75px_presence.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 30px;
    width: 38px;
    margin-bottom: -7px;
}
