@import 'board_front/general.css';
@import 'board_front/icon.css';
@import 'board_front/special-rules.css';
@import 'board_front/growth-options.css';
@import 'board_front/presence-track-table.css';
@import 'board_front/innate-power.css';
@import 'board_front/exception.css';

@font-face {
    font-family: JosefinSans-Regular;
    src: url(../fonts/josefin-sans/JosefinSans-Regular.ttf) format("truetype");
    font-weight: normal;
}
