@font-face{
  font-family: JosefinSans-Regular;
  src: url(../fonts/josefin-sans/JosefinSans-Regular.ttf);
}

html, body{
  padding:0px;
  margin:0px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:14px;
}

html{
  height:100%;
  width:100%;
  overflow-y:auto;
}

body{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  align-content:center;
  width:1000px;
  margin:auto;
  margin-top:30px;
  margin-bottom:30px;
}

card{
  position:relative;
  overflow:hidden;
  background:gray;
  width:488px;
  height:682px;
  border-radius:0px;
}

card.round-border{
  border-radius:22px;
}

card.fast{
  background-image: url('../images/fast-card-transparent.PNG');
  background-position-y: -20px;
  background-position-x: -11px;
}

card.slow{
  background-image: url('../images/slow-card-transparent.PNG');
  background-position-y: -20px;
  background-position-x: -12px;
}

card.fast info-speed
{
  background-image: url('../images/50px-Fasticon.png');
  background-position:center;
  background-repeat: no-repeat;
  background-size:40px 30px;
}

card.slow info-speed
{
  background-image: url('../images/50px-Slowicon.png');
  background-position:center;
  background-repeat: no-repeat;
  background-size:40px 30px;
}

cost{
  font-family:'Gobold Extra2';
  font-size:34px;
  color:white;
  text-align: center;

  position:absolute;
  left:55px;
  top:47px;
  width: 36px;
  z-index: 3;
}

cost::before{
  z-index: -1;
  position:absolute;
  top:-30px;
  width: 107px;
  height: 120px;

  content:'';

  background-repeat: no-repeat;
  background-size: contain;
}
card.fast cost::before{
  left:-35px;
  background-image: url('../images/fast-cost-overlay.png');
}
card.slow cost::before{
  left:-32px;
  background-image: url('../images/slow-cost-overlay.png');
}

name{
  position:absolute;
  left:135px;
  top:28px;
  height:62px;
  width:310px;

  font-size:34px;
  line-height:32px;
  font-family:'DK Snemand';
  text-transform: uppercase;
  color:white;
  
  display:flex;
  align-items:center;
  justify-content: center;
  text-align:center;
  white-space: normal;
  
  /*border:1px solid yellow;*/
}

element{
  position:absolute;
  left:25px;
  width:80px;
  height:80px;
  background-repeat: no-repeat;
}

element.sun{
  top:129px;
  background-image:url('../images/80px-Sunelement.png');
}

element.moon{
  top:192px;
  background-image:url('../images/80px-Moonelement.png');
}

element.fire{
  top:260px;
  background-image:url('../images/80px-Fireelement.png');
}

element.air{
  top:324px;
  background-image:url('../images/80px-Airelement.png');
}

element.water{
  top:386px;
  left:29px;
  background-image:url('../images/80px-Waterelement.png');
}

element.earth{
  top:449px;
  background-image:url('../images/80px-Earthelement.png');
}

element.plant{
  top:515px;
  left:28px;
  background-image:url('../images/80px-Plantelement.png');
}

element.animal{
  top:578px;
  background-image:url('../images/80px-Animalelement.png');
}

.image{
  position:absolute;
  left:108px;
  top:97px;
  width:352px;
  height:260px;
  border-top-left-radius: 10px;
}

info-title{
  position:absolute;
  left:108px;
  top:336px;
  height:22px;
  width:353px;

  display:flex;
  align-items: center;

  color:white;
  font-family: 'DK Snemand';
  text-transform: uppercase;
  letter-spacing:1.5px;
  text-align:center;
  background-color:rgba(248, 215, 106, 0.4);
}

info{
  position:absolute;
  left:108px;
  top:358px;
  width:353px;
  height:38px;
  z-index: 1;

  display:flex;

  font-family: 'DK Snemand';
  text-transform: uppercase;
  mix-blend-mode: multiply;
  background-image: url('../images/target-background.png');
  background-size: 100%;
}

info-title-speed, info-speed{ width:107px; }
info-title-range, info-range{ width:118px; }
info-title-target, info-target{ flex-grow:1; }

info-range{
  font-size:26px;
  line-height:24px;
  display:flex;
  align-items: center;
  justify-content: center;
}

info-target{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-size:20px;
}

rules-container{
  position:absolute;
  left:108px;
  top:358px; 
  width:353px;
  height:247px;
  padding-top: 36px;

  background-image: url('../images/card-text-back.png');

  display: flex;
  flex-direction: column;

  text-align:center;
  font-family: 'JosefinSans-Regular';
  font-size: 22px;
  line-height: 30px;
}

rules-container::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-image: url('../images/card-text-overlay.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 3px;
  height: 6px;
}

rules{
  flex-grow: 1;

  box-sizing: border-box;
  padding-top:6px;
  padding-left:15px;
  padding-right:15px;
  
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

rules:last-child{
  border-bottom-right-radius:5px;
  border-bottom-left-radius:2px;
}

threshold{
  position: relative;
  display:block;
  width:353px;

  background-image: url('../images/threshold-back.png');
  background-position: center top;
  background-size: 100%;

  bottom:0px;
  padding-bottom:10px;
  padding-top:30px;
  overflow: hidden;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:2px;
}

threshold-condition{
  display:block;
  font-size:27px;
  font-family:'Gobold Extra2';
  margin-bottom:10px;
}

threshold-condition icon{
  width:50px !important;
  height:50px !important;
  margin-bottom:-11px;
  margin-left:-9px;
  margin-right:-8px;
}

artist-name{
  position:absolute;
  left:132px;
  top:645px;
  width:253px;
  height:14px;

  color:rgba(255, 255, 255, 0.8);
  font-family: 'JosefinSans-Regular';
  font-size:11px;
}

.or,
or{
  background-image: url('../images/or.PNG');
  background-size: 45%;
  mix-blend-mode: multiply;

  display: block;
  height:40px;
  width:320px;
  background-repeat: no-repeat;
  background-position:center;
  margin-top:5px;
  margin-bottom:10px;
}

icon{
  width:25px;
  height:25px;
  margin-top:-7px;
  margin-bottom:-4px;
}

icon.bigger{
  height:30px;
  width:30px;
  margin-bottom:-10px;
}

info-range icon{
  width:40px;
  height:32px;
}

info-target icon{
  width:70px;
  height:32px;
}

info-target icon.spirit{
  width:32px;
  height:28px;
}

icon.range{
  width:50px;
  margin-top:-10px;
}

icon.presence{
  height:20px;
}

icon.sun,
icon.moon,
icon.fire,
icon.air,
icon.water,
icon.earth,
icon.plant,
icon.animal,
icon.any-element{
  width:40px;
  height:40px;
  margin-bottom:-13px;
  margin-left:-5px;
  margin-right:-5px;
}

rules icon.jungle,
rules icon.mountain,
rules icon.sand,
rules icon.wetland,
rules icon.ocean,
rules icon.jungle-presence,
rules icon.mountain-presence,
rules icon.sand-presence,
rules icon.wetland-presence{
  width:30px;
  height:30px;
  margin-bottom:-10px;
}

rules icon.jungle-sand,
rules icon.jungle-wetland,
rules icon.mountain-jungle,
rules icon.mountain-sand,
rules icon.mountain-wetland,
rules icon.sand-wetland
{
  width:50px;
  height:28px;
  margin-bottom:-8px;
  margin-left:-4px;
  margin-right:-4px;
}

@media print{
  element-background{
    background-color:rgb(220, 220, 220);
    position:absolute;
    height:530px;
    width:75px;
    top:120px;
    left:30px;
  }
}
