html, body {
  padding: 0px;
  margin: 0px;
  height:100%;
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
}

card-back{
  width: 488px;
  height: 682px;
  position:relative;
}

card-back::after{
  display:block;
  position:absolute;
  top:0px;
  left:0px;
  width: 488px;
  height: 682px;
  background-image: url('../images/Unique-Power-Back.png');
  background-size:cover;
  content: ''
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}